name: Dubizzle Watcher

on:
  workflow_dispatch:  # لتشغيله يدويًا

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 350

    steps:
      # 1️⃣ سحب الملفات
      - uses: actions/checkout@v4

      # 2️⃣ إعداد Python
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      # 3️⃣ تثبيت Chrome و Chromedriver جاهزين
      - uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: latest

      - uses: browser-actions/setup-chromedriver@v1
        with:
          chromedriver-version: latest

      # 4️⃣ تثبيت مكتبات Python
      - run: pip install selenium requests

      # 5️⃣ تشغيل السكريبت
      - run: python dubizzle.py
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
