name: Dubizzle Watcher

on:
  workflow_dispatch:

jobs:
  run:
    runs-on: ubuntu-latest
    timeout-minutes: 350

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      # تثبيت Google Chrome فقط
      - uses: browser-actions/setup-chrome@v1
        with:
          chrome-version: latest

      # تثبيت المكتبات
      - run: pip install selenium requests

      # تشغيل السكريبت
      - run: python dubizzle.py
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          CHAT_ID: ${{ secrets.CHAT_ID }}
